/* CSS Document */
*, *::after, *::before {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

:root {
    --color-ps-triangle: rgb(64, 226, 160);
    --color-ps-circle: rgb(255, 102, 102);
    --color-ps-cross: rgb(124, 178, 232);
    --color-ps-square: rgb(255, 105, 248);

    --color-ps-shadow: black;
    --color-ps-highlight: rgba(255, 255, 255, 0.7);
    --color-ps-button: rgb(94, 94, 94);
    --color-ps-dpad: rgb(173, 173, 173);
    --color-ps-text: rgba(255, 255, 255, 0.7);
    --color-ps-frame: rgb(104, 104, 104);
    --color-ps-frame-shadow: rgb(74, 74, 74);
}
    
html, body {
    height:100%;
    margin:0;
    background-color: blue;
}
  
button:not([disabled]) {
    cursor:pointer;
}
  
body {
    display: flex;
    flex-direction: column;
    gap: 5em;
    align-items: center;
}

p {
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
}

:active {
    transition: .2s;
}

img {
    z-index: -1;
    position: absolute;
    scale: 1.5;
}

/* -------- */
/* interactie */
/* -------- */

form label {
    display: none;
}

form:first-of-type label:has(+ label :checked) {
	display:block;
}

form:first-of-type label:has(:checked) + label {
	display:block;
}

ul li ul li:not(:first-child) {
	visibility: hidden;
}

:has(form:first-of-type label:nth-child(1) :checked) li:nth-child(1) ul li:first-of-type svg,
:has(form:first-of-type label:nth-child(2) :checked) li:nth-child(2) ul li:first-of-type svg,
:has(form:first-of-type label:nth-child(3) :checked) li:nth-child(3) ul li:first-of-type svg,
:has(form:first-of-type label:nth-child(4) :checked) li:nth-child(4) ul li:first-of-type svg,
:has(form:first-of-type label:nth-child(5) :checked) li:nth-child(5) ul li:first-of-type svg,
:has(form:first-of-type label:nth-child(6) :checked) li:nth-child(6) ul li:first-of-type svg,
:has(form:first-of-type label:nth-child(7) :checked) li:nth-child(7) ul li:first-of-type svg,
:has(form:first-of-type label:nth-child(8) :checked) li:nth-child(8) ul li:first-of-type svg{
	opacity: 1;
}

:has(form:first-of-type label:nth-child(1) :checked) li:nth-child(1) ul li:first-of-type p,
:has(form:first-of-type label:nth-child(2) :checked) li:nth-child(2) ul li:first-of-type p,
:has(form:first-of-type label:nth-child(3) :checked) li:nth-child(3) ul li:first-of-type p,
:has(form:first-of-type label:nth-child(4) :checked) li:nth-child(4) ul li:first-of-type p,
:has(form:first-of-type label:nth-child(5) :checked) li:nth-child(5) ul li:first-of-type p,
:has(form:first-of-type label:nth-child(6) :checked) li:nth-child(6) ul li:first-of-type p,
:has(form:first-of-type label:nth-child(7) :checked) li:nth-child(7) ul li:first-of-type p,
:has(form:first-of-type label:nth-child(8) :checked) li:nth-child(8) ul li:first-of-type p{
	visibility: visible;
}

/* links rechts instellingen */
:has(form:first-of-type label:nth-child(2) :checked) li:nth-child(2) ul li {
	visibility: visible;
}

/* links rechts game */
:has(form:first-of-type label:nth-child(6) :checked) li:nth-child(6) ul li {
	visibility: visible;
}
/* -------- */
/* beeldscherm */
/* -------- */

ul {
	margin:0;
	padding:1em;
	list-style:none;
	
	display:flex;
	gap:0.5em;
}

li {
	display:flex;
	flex-direction: column;
	align-items:center;
}

ul > li > ul {
	flex-direction: column;
}

ul > li > ul > li {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

li > svg {
    height: 2em;
	fill: white;
	opacity: .5;
}

li > p {
    font-size: .7em;
    text-transform: none;
}
/*  */

embed {
    display: none;
}
  
button:active + embed { 
    display: block; 
    visibility: hidden;
}

/* -------- */
/* controller */
/* -------- */
body > section {
    position: relative;
    display: flex;
    gap: 12em;
}

/* -------- */
/* middle */
/* -------- */

/* back */

body > section > section:nth-child(1) {
    position: absolute;
    left: 60px;
    top: 30px;
}

/* back */

body > section > section:nth-child(1) > section:nth-child(1) {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2em;
    background-color: var(--color-ps-frame-shadow);
    transform: rotate(180deg) rotateX(60deg); 
    transform-style: preserve-3d;
    padding: 0 2.5em 0 2.5em;
    top: -18px;
    left: -20px;
}

body > section > section:nth-child(1) > section:nth-child(1) > svg {
    fill: #006CFB;
}

body > section > section:nth-child(1) > section:nth-child(1) > div {
    position: relative;
    width: 3em;
    height: 1.5em;
}

body > section > section:nth-child(1) > section:nth-child(1) > div > div {
    position: absolute;
    clip-path: path('M55.9,22.3H41.2V37h2.9c0.1,1.4,0.3,6.1-2.6,9.1c-1.9,2-4.9,3-9,3V19.4h6.7L28,0L16.8,19.4h6.7v43.2c-3.5-0.2-6.2-1.2-8-3.1c-3.4-3.5-3-9.1-2.9-10.4c2.5-1.4,4.2-4.2,4.2-7.3c0-4.6-3.8-8.4-8.4-8.4c-4.6,0-8.4,3.8-8.4,8.4c0,2.8,1.4,5.4,3.6,6.9c-0.2,2.9-0.2,11.1,5.3,16.9c3.5,3.7,8.4,5.7,14.6,6v11.8c-2.3,1.5-3.9,4.1-3.9,7.1c0,4.6,3.8,8.4,8.4,8.4c4.6,0,8.4-3.8,8.4-8.4c0-3-1.6-5.6-3.9-7.1V58.1c6.7-0.1,11.9-1.9,15.5-5.8c4.9-5.1,5.3-12.1,5.2-15.3h2.7V22.3z');
    width: 3.5em;
    height: 6.2em;
    background-color: var(--color-ps-text);
    scale: 0.125;
    left: -20px;
    top: -37px;
}

body > section > section:nth-child(1) > section:nth-child(1) > section {
    display: flex;
    gap: 0.3em;
}

body > section > section:nth-child(1) > section:nth-child(1) > section > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body > section > section:nth-child(1) > section:nth-child(1) > section > section > p {
    font-size: 0.3em;
    color: var(--color-ps-text);
}

body > section > section:nth-child(1) > section:nth-child(1) > section > section > div {
    width: 0.2em;
    aspect-ratio: 1/1;    
    background-color: var(--color-ps-frame);
    box-shadow: 0px 0px 1px 0.5px var(--color-ps-shadow);
}

body > section > section:nth-child(1) > section:nth-child(1) > section > section:nth-child(1) > div {
    background-color: red;
}

/* front */

body > section > section:nth-child(1) > section:nth-child(2) {
    background-color: var(--color-ps-frame);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em 2em 2em 2em;
    gap: 0.5em;
    position: relative;
}

body > section > section:nth-child(1) > section:nth-child(2):before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 0.75em;
    width: 100%;
    background-color: var(--color-ps-frame-shadow);
}
body > section > section:nth-child(1) > section:nth-child(2) > svg {
    fill: var(--color-ps-text);
    margin-bottom: 0.5em;
}

body > section > section:nth-child(1) > section:nth-child(2) > section {
    position: relative;
    display: flex;
    gap: 3em;
}

body > section > section:nth-child(1) > section:nth-child(2) > section > section:nth-child(1),
body > section > section:nth-child(1) > section:nth-child(2) > section > section:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3em;
}

body > section > section:nth-child(1) > section:nth-child(2) > section > section:nth-child(1) > p,
body > section > section:nth-child(1) > section:nth-child(2) > section > section:nth-child(2) > p {
    font-size: 0.6em;
    color: var(--color-ps-text);
}

body > section > section:nth-child(1) > section:nth-child(2) > section > section:nth-child(1) > div {
    width: 1.4em;
    height: 0.8em;
    background-color: var(--color-ps-button);
    box-shadow: inset 0px 1px 2px var(--color-ps-highlight), 0px 0px 1px 2px var(--color-ps-shadow);
}

body > section > section:nth-child(1) > section:nth-child(2) > section > section:nth-child(2) > div {
    position: relative;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 25px solid var(--color-ps-shadow);
    filter: drop-shadow(0px 0px 1px var(--color-ps-shadow));
}

body > section > section:nth-child(1) > section:nth-child(2) > section > section:nth-child(2) > div::after {
    content: "";
    position: absolute;
    left: -23px;
    top: -6px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 19px solid var(--color-ps-button);
}

/* body > section > section:nth-child(1) > section:nth-child(2) > section > section:nth-child(2) > div {
    position:absolute;
    top: 8px;
	
	width:1.8em;
	height:1.8em;
	
	filter: url("#blurry-outline");
}

body > section > section:nth-child(1) > section:nth-child(2) > section > section:nth-child(2) > div::before {
    content:"";
	position:absolute;
	inset:0;
	background-color:black;
	clip-path: polygon(100% 50%, 0 25%, 0 75%);
} */

body > section > section:nth-child(1) > section:nth-child(2) > div {
    position: relative;
    width: 1.75em;
    height: 1.75em;
    border-radius: 50%;
    background-color: var(--color-ps-button);
    box-shadow: inset 0 1px 2px var(--color-ps-highlight), 0 0 0.1em 0.15em var(--color-ps-shadow);
}

body > section > section:nth-child(1) > section:nth-child(2) > div:active {
    box-shadow: inset 0 1px 2px var(--color-ps-shadow), 0 0 0.1em 0.15em var(--color-ps-shadow);
}

body > section > section:nth-child(1) > section:nth-child(2) > div > div {
    scale: 0.1;
    position: absolute;
    left: -86px;
    top: -66px;
    height: 10em;
    width: 12.5em;
    background-color: white;
    clip-path: path('m 197.23914,117.96194 c -3.8677,4.8796 -13.34356,8.36053 -13.34356,8.36053 0,0 -70.49109,25.31994 -70.49109,25.31994 0,0 0,-18.67289 0,-18.67289 0,0 51.87665,-18.48401 51.87665,-18.48401 5.887,-2.10924 6.79096,-5.09097 2.00581,-6.65604 -4.77616,-1.56957 -13.42451,-1.11983 -19.31601,0.99841 0,0 -34.56645,12.17426 -34.56645,12.17426 0,0 0,-19.37898 0,-19.37898 0,0 1.99232,-0.6746 1.99232,-0.6746 0,0 9.98856,-3.534896 24.03371,-5.09097 14.04515,-1.547081 31.24291,0.211374 44.74389,5.32933 15.21445,4.80764 16.92793,11.89543 13.06473,16.77502 z M 120.11451,86.165853 c 0,0 0,-47.752601 0,-47.752601 0,-5.608163 -1.03439,-10.771093 -6.29626,-12.232725 -4.0296,-1.290734 -6.53012,2.45104 -6.53012,8.054706 0,0 0,119.583887 0,119.583887 0,0 -32.250314,-10.23591 -32.250314,-10.23591 0,0 0,-142.58321 0,-142.58321 13.712343,2.54549 33.689454,8.56291 44.429074,12.18326 27.31226,9.376917 36.57225,21.047482 36.57225,47.343343 0,25.630256 -15.82159,35.344478 -35.92463,25.63925 z M 15.862004,131.01768 C 0.24279269,126.6193 -2.3566614,117.45375 4.7626047,112.17389 c 6.5795883,-4.8751 17.7689333,-8.54492 17.7689333,-8.54492 0,0 46.241498,-16.442224 46.241498,-16.442224 0,0 0,18.744854 0,18.744854 0,0 -33.275709,11.90892 -33.275709,11.90892 -5.878004,2.10924 -6.781967,5.09547 -2.005807,6.66054 4.780657,1.56506 13.433512,1.11983 19.320511,-0.99391 0,0 15.961005,-5.79256 15.961005,-5.79256 0,0 0,16.77053 0,16.77053 -1.011893,0.17989 -2.140724,0.35978 -3.184104,0.53518 -15.965505,2.60845 -32.969893,1.5201 -49.726928,-4.00262 z m 171.105246,7.42508 c 2.0193,0 3.91267,0.78254 5.33832,2.22618 1.42566,1.42115 2.21269,3.31903 2.21269,5.33383 0,2.02379 -0.78703,3.91267 -2.21269,5.33383 -1.42565,1.43464 -3.31902,2.21718 -5.33832,2.21718 -2.0193,0 -3.90818,-0.78254 -5.33833,-2.21718 -1.42565,-1.42116 -2.20818,-3.31004 -2.20818,-5.33383 0,-4.16453 3.38198,-7.56001 7.54651,-7.56001 z m -6.27827,7.56001 c 0,1.6775 0.65211,3.25606 1.83941,4.43436 1.18279,1.19629 2.76585,1.8439 4.43886,1.8439 3.46743,0 6.27826,-2.81532 6.27826,-6.27826 0,-1.682 -0.64761,-3.26056 -1.8394,-4.44336 -1.1828,-1.19629 -2.76586,-1.83941 -4.43886,-1.83941 -1.67301,0 -3.25607,0.64312 -4.43886,1.83941 -1.1873,1.1828 -1.83941,2.76136 -1.83941,4.44336 z m 8.55841,-4.07008 c 0.82751,0.36428 1.24576,1.06586 1.24576,2.06427 0,0.5127 -0.10794,0.94444 -0.3283,1.28174 -0.15741,0.24285 -0.38228,0.44074 -0.63413,0.61163 0.19788,0.11694 0.37328,0.25635 0.50371,0.41826 0.17988,0.23386 0.28332,0.60713 0.29682,1.11533 0,0 0.0405,1.07486 0.0405,1.07486 0.0135,0.28783 0.0315,0.5082 0.0765,0.64312 0.045,0.19788 0.13042,0.32381 0.23835,0.36429 0,0 0.11244,0.054 0.11244,0.054 0,0 0,0.12143 0,0.12143 0,0 0,0.18439 0,0.18439 0,0 0,0.18439 0,0.18439 0,0 -0.18439,0 -0.18439,0 0,0 -1.33571,0 -1.33571,0 0,0 -0.10793,0 -0.10793,0 0,0 -0.054,-0.0944 -0.054,-0.0944 -0.045,-0.0899 -0.0764,-0.19338 -0.10793,-0.3283 -0.0225,-0.12143 -0.045,-0.3328 -0.0585,-0.65661 0,0 -0.0675,-1.33571 -0.0675,-1.33571 -0.018,-0.46322 -0.1754,-0.75105 -0.47222,-0.90396 -0.18439,-0.0854 -0.49021,-0.12592 -0.90396,-0.12592 0,0 -2.28914,0 -2.28914,0 0,0 0,3.26056 0,3.26056 0,0 0,0.18439 0,0.18439 0,0 -0.18889,0 -0.18889,0 0,0 -1.08836,0 -1.08836,0 0,0 -0.18438,0 -0.18438,0 0,0 0,-0.18439 0,-0.18439 0,0 0,-8.03672 0,-8.03672 0,0 0,-0.18439 0,-0.18439 0,0 0.18438,0 0.18438,0 0,0 3.71929,0 3.71929,0 0.63863,0 1.17381,0.0944 1.58756,0.28782 z m -4.0296,3.38648 c 0,0 2.32961,0 2.32961,0 0.46772,0 0.841,-0.0855 1.10634,-0.26084 0.24286,-0.1754 0.35979,-0.49471 0.35979,-0.95793 0,-0.5037 -0.1664,-0.83201 -0.51719,-1.0074 -0.19338,-0.0944 -0.46323,-0.14841 -0.80503,-0.14841 0,0 -2.47352,0 -2.47352,0 0,0 0,2.37458 0,2.37458 z');
}

/* -------- */
/* left right */
/* -------- */

body > section > section:nth-child(2),
body > section > section:nth-child(3) {
    position: relative;
}

body > section > section:nth-child(2) > section:nth-child(1),
body > section > section:nth-child(3) > section:nth-child(1) {
    position: absolute;
    z-index: 4;
    top: 110px;
    left: 30px;
}

body > section > section:nth-child(2) > section:nth-child(2),
body > section > section:nth-child(3) > section:nth-child(2) {
    position: absolute;
    z-index: 3;
    top: 10px;
    left: -70px;
}

body > section > section:nth-child(2) > section:nth-child(3),
body > section > section:nth-child(3) > section:nth-child(3) {
    position: absolute;
    z-index: 2;
    top: -18px;
    left: -35px;
}

body > section > section:nth-child(2) > section:nth-child(4),
body > section > section:nth-child(3) > section:nth-child(4) {
    position: absolute;
    z-index: 1;
    top: 20px;
    left: -90px;
}

/* joystick */

body > section > section:nth-child(2) > section:nth-child(1) > div:nth-child(1),
body > section > section:nth-child(3) > section:nth-child(1) > div:nth-child(1) {
    display: grid;
    place-items: center;
    width: 5.8em;
    aspect-ratio: 1/1;
    background-color: var(--color-ps-frame);
    border-radius: 50%;
    box-shadow: 1.5px 1.5px 0px 1px var(--color-ps-frame-shadow);

}

body > section > section:nth-child(2) > section:nth-child(1) > div:nth-child(1) > div,
body > section > section:nth-child(3) > section:nth-child(1) > div:nth-child(1) > div {
    height: 3.5em;
    aspect-ratio: 1/1;
    background-image: radial-gradient(rgb(49, 49, 49) 0.5px, rgb(94, 94, 94) 1px);
    background-position: center;
    background-size: 10px 10px;
    border-radius: 50%;
    box-shadow: 0 0 0.2em 0.35em var(--color-ps-shadow);
}

/* circle */
body > section > section:nth-child(2) > section:nth-child(2),
body > section > section:nth-child(3) > section:nth-child(2)
/* body > section:nth-child(1) > section:nth-child(2) > section:nth-child(2),
body > section:nth-child(1) > section:nth-child(3) > section:nth-child(2)  */
{
    display: grid;
    place-items: center;
    background-color: var(--color-ps-frame);
    width: 10em;
    aspect-ratio: 1/1;
    border-radius: 50%;
    box-shadow: inset 0px 0px 1px 1px var(--color-ps-highlight), 0px 0px 2px 1px var(--color-ps-shadow);
}

/* -------- */
/* buttons */
/* -------- */

/* left */

body > section > section:nth-child(2) > section:nth-child(2) > section:nth-child(1) {
    width: 70%;
    height: 70%;
    position: absolute;
    z-index: 2;
}

body > section > section:nth-child(2) > section:nth-child(2) > section:nth-child(1) > section {
    width: 100%;
    height: 100%;
    position: relative;
}

body > section > section:nth-child(2) > section:nth-child(2) > section:nth-child(1) > section > section:nth-of-type(1){
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.4em;
}

body > section > section:nth-child(2) > section:nth-child(2) > section:nth-child(1) > section > section:nth-of-type(2) {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transform: rotate(90deg);
}

body > section > section:nth-child(2) > section:nth-child(2) > section:nth-child(1) > section > section:nth-of-type(1) > div:nth-child(2) {
    transform: rotate(-180deg);
}

body > section > section:nth-child(2) > section:nth-child(2) > section:nth-child(1) > section > section:nth-of-type(2) > div:nth-child(1) {
    transform: rotate(-0deg);
}

body > section > section:nth-child(2) > section:nth-child(2) > section:nth-child(1) > section > section:nth-of-type(2) > div:nth-child(2) {
    transform: rotate(180deg);
}

body > section > section:nth-child(2) > section:nth-child(2) > section:nth-child(1) > section > section > div:nth-child(1),
body > section > section:nth-child(2) > section:nth-child(2) > section:nth-child(1) > section > section > div:nth-child(2),
body > section > section:nth-child(2) > section:nth-child(2) > section:nth-child(1) > section > section > div:nth-child(3),
body > section > section:nth-child(2) > section:nth-child(2) > section:nth-child(1) > section > section > div:nth-child(4) {
    position: relative;
    width: 1.8em;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 12px solid var(--color-ps-frame);
    border-radius: 8px;
    scale: 0.7;
    opacity: 0.8;
}

body > section > section:nth-child(2) > section:nth-child(2) > section:nth-child(1) > section > section > div:nth-child(1):after,
body > section > section:nth-child(2) > section:nth-child(2) > section:nth-child(1) > section > section > div:nth-child(2):after,
body > section > section:nth-child(2) > section:nth-child(2) > section:nth-child(1) > section > section > div:nth-child(3):after,
body > section > section:nth-child(2) > section:nth-child(2) > section:nth-child(1) > section > section > div:nth-child(4):after {
    position: absolute;
    top: 2.5px;
    left: -11px;
    content: "";
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 8px solid var(--color-ps-dpad);
}

form:first-of-type {
    position: absolute;
    width: 70%;
    height: 70%;
    top: 15%;
    left: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form:nth-of-type(2) {
    position: absolute;
    width: 70%;
    height: 70%;
    top: 15%;
    left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

label {
    z-index: 3;
}
form:nth-of-type(2) label{
    display: block;
}

form:first-of-type div {
    transform: rotate(-90deg);
}

form:first-of-type label + label div {
    transform: rotate(90deg);
}

form label input {
	position:absolute;
	left:-9999em;
}

body > article > ul > li > ul > li > p {
    color: white;
    visibility: hidden;
}

form label div{
    position: relative;
    height: 1.2em;
    width: 20px;
    background-color: var(--color-ps-button);
    box-shadow: inset 0 1px 1px var(--color-ps-highlight), 0 0 .1em .25em var(--color-ps-shadow);
    border-radius: .1em;
}

form label div:active {
    box-shadow: inset 0 1px 1px 0.1px var(--color-ps-shadow), 0 0 .1em .25em var(--color-ps-shadow);
}

form label div:after {
    position: absolute;
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 7px solid var(--color-ps-button);
    transform: translateY(270%);
}

form label div:before {
    position: absolute;
    top: 19px;
    left: -4px;
    content: "";
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 10px solid var(--color-ps-shadow);
    border-radius: 1em;
    filter: drop-shadow(0px 2px .7px rgb(0 0 0 / 1));
}
/* ps shapes */

body > section > section:nth-child(3) > section:nth-child(2) > section:nth-child(1) {
    width: 65%;
    height: 65%;
    position: absolute;
    z-index: 2;
}

body > section > section:nth-child(3) > section:nth-child(2) > section:nth-child(1) > section > div {
    position: relative;
    width: 1.75em;
    height: 1.75em;
    background-color: var(--color-ps-button);
    border-radius: 50%;
    box-shadow: inset 0 1px 2px var(--color-ps-highlight), 0 0 .1em .15em var(--color-ps-shadow);
}

body > section > section:nth-child(3) > section:nth-child(2) > section:nth-child(1) > section > div:active {
    box-shadow: inset 0 1px 2px var(--color-ps-shadow), 0 0 .1em .15em var(--color-ps-shadow);
}

body > section > section:nth-child(3) > section:nth-child(2) > section:nth-child(1) > section {
    position: absolute;
}

body > section > section:nth-child(3) > section:nth-child(2) > section:nth-child(1) > section:nth-child(1) {
    position: absolute;
    left: 36%;
}

body > section > section:nth-child(3) > section:nth-child(2) > section:nth-child(1) > section:nth-child(1) > div::after, 
body > section > section:nth-child(3) > section:nth-child(2) > section:nth-child(1) > section:nth-child(1) > div::before {
    position: absolute;
    left: 4px;
    top: 4px;
    content: "";
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    
    border-bottom: 16px solid var(--color-ps-triangle);
}

body > section > section:nth-child(3) > section:nth-child(2) > section:nth-child(1) > section:nth-child(1) > div::after {
    scale: 0.72;
    border-bottom: 16px solid var(--color-ps-button);
    top: 5px;
}

body > section > section:nth-child(3) > section:nth-child(2) > section:nth-child(1) > section:nth-child(2) {
    position: absolute;
    top: 36%;
    right: 0;
}

body > section > section:nth-child(3) > section:nth-child(2) > section:nth-child(1) > section:nth-child(2) > div::after, 
body > section > section:nth-child(3) > section:nth-child(2) > section:nth-child(1) > section:nth-child(2) > div::before {
    content: "";
    position: absolute;
    left: 4px;
    top: 4px;
    border-radius: 50%;
    width: 1.25em;
    aspect-ratio: 1/1;
    background-color: var(--color-ps-circle);
}

body > section > section:nth-child(3) > section:nth-child(2) > section:nth-child(1) > section:nth-child(2) > div::after {
    scale: 0.8;
    background-color: var(--color-ps-button);
}

body > section > section:nth-child(3) > section:nth-child(2) > section:nth-child(1) > section:nth-child(3) {
    position: absolute;
    left: 36%;
    bottom: 0;
}

body > section > section:nth-child(3) > section:nth-child(2) > section:nth-child(1) > section:nth-child(3) > div::before,
body > section > section:nth-child(3) > section:nth-child(2) > section:nth-child(1) > section:nth-child(3) > div::after {
    content: "";
    position: absolute;
    left: 13px;
    top: 5px;
    border-left: 2px solid var(--color-ps-cross);
    height: 1.2em;
    transform: rotate(45deg);
}

body > section > section:nth-child(3) > section:nth-child(2) > section:nth-child(1) > section:nth-child(3) > div::after {
    transform: rotate(-45deg);
}

body > section > section:nth-child(3) > section:nth-child(2) > section:nth-child(1) > section:nth-child(4) {
    position: absolute;
    top: 36%;
}

body > section > section:nth-child(3) > section:nth-child(2) > section:nth-child(1) > section:nth-child(4) > div::before,
body > section > section:nth-child(3) > section:nth-child(2) > section:nth-child(1) > section:nth-child(4) > div::after  {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    width: 1em;
    aspect-ratio: 1/1;
    background-color: var(--color-ps-square);
}

body > section > section:nth-child(3) > section:nth-child(2) > section:nth-child(1) > section:nth-child(4) > div::after {
    background-color: var(--color-ps-button);
    scale: 0.8;
}

/* background pad */

body > section > section:nth-child(2) > section:nth-child(2) > section:nth-child(2),
body > section > section:nth-child(3) > section:nth-child(2) > section:nth-child(2) {
    display: grid;
    place-items: center;
    position: relative;
    width: 7.25em;
    aspect-ratio: 1/1;
}

body > section > section:nth-child(2) > section:nth-child(2) > section:nth-child(2) > div,
body > section > section:nth-child(3) > section:nth-child(2) > section:nth-child(2) > div {
    position: absolute;
    background-color: var(--color-ps-dpad);
    border-radius: .3em;
    box-shadow: 0px 0px 3px var(--color-ps-shadow);
}

body > section > section:nth-child(2) > section:nth-child(2) > section:nth-child(2) > div:nth-of-type(1),
body > section > section:nth-child(3) > section:nth-child(2) > section:nth-child(2) > div:nth-of-type(1) {
    aspect-ratio: 3/1;
    width: 100%;
}

body > section > section:nth-child(2) > section:nth-child(2) > section:nth-child(2) > div:nth-of-type(2),
body > section > section:nth-child(3) > section:nth-child(2) > section:nth-child(2) > div:nth-of-type(2) {
    aspect-ratio: 1/3;
    height: 100%;
}

body > section > section:nth-child(2) > section:nth-child(2) > section:nth-child(2) > div:nth-of-type(1):after,
body > section > section:nth-child(3) > section:nth-child(2) > section:nth-child(2) > div:nth-of-type(1):after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: .3em;
    background-color: var(--color-ps-dpad);
    z-index: 1;
}

body > section > section:nth-child(2) > section:nth-child(2) > section:nth-child(2) > div:nth-of-type(2):after,
body > section > section:nth-child(3) > section:nth-child(2) > section:nth-child(2) > div:nth-of-type(2):after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: .3em;
    background-color: var(--color-ps-dpad);
    z-index: 1;
}

/* trigger */

body > section > section:nth-child(2) > section:nth-child(3),
body > section > section:nth-child(3) > section:nth-child(3) {
    position: relative;
}

body > section > section:nth-child(2) > section:nth-child(3) > div:nth-of-type(1),
body > section > section:nth-child(3) > section:nth-child(3) > div:nth-of-type(1) {
    clip-path: path('m85.45,41.42H0L6.25,10.72C11.67,7.42,19.92,0,42.72,0c26.87,0,35.15,9.97,35.15,9.97,2.53,10.48,5.05,20.97,7.58,31.45Z');
    width: 5.5em;
    height: 3em;
    background-color: var(--color-ps-shadow);
    scale: 0.82;
    position: absolute;
    top: -12px;
}

body > section > section:nth-child(2) > section:nth-child(3) > div:nth-of-type(3),
body > section > section:nth-child(3) > section:nth-child(3) > div:nth-of-type(3) {
    clip-path: path('m85.45,41.42H0L6.25,10.72C11.67,7.42,19.92,0,42.72,0c26.87,0,35.15,9.97,35.15,9.97,2.53,10.48,5.05,20.97,7.58,31.45Z');
    width: 5.5em;
    height: 3em;
    background-color: var(--color-ps-shadow);
    scale: 1.02;
}

body > section > section:nth-child(2) > section:nth-child(3) > div:nth-of-type(2),
body > section > section:nth-child(3) > section:nth-child(3) > div:nth-of-type(2) {
    clip-path: path('m85.45,41.42H0L6.25,10.72C11.67,7.42,19.92,0,42.72,0c26.87,0,35.15,9.97,35.15,9.97,2.53,10.48,5.05,20.97,7.58,31.45Z');
    width: 5.5em;
    height: 3em;
    background-color: var(--color-ps-frame);
    scale: 0.8;
    position: absolute;
    top: -12px;
}

body > section > section:nth-child(2) > section:nth-child(3) > div:nth-of-type(2):active,
body > section > section:nth-child(3) > section:nth-child(3) > div:nth-of-type(2):active {
    transform: translate(-2%, 10%);
}

:has(body > section > section:nth-child(2) > section:nth-child(3) > div:nth-of-type(2):active)
body > section > section:nth-child(2) > section:nth-child(3) > div:nth-of-type(1)
{
    transform: translate(-2%, 10%);
}

:has(body > section > section:nth-child(3) > section:nth-child(3) > div:nth-of-type(2):active)
body > section > section:nth-child(3) > section:nth-child(3) > div:nth-of-type(1) {
    transform: translate(-2%, 10%);
}

body > section > section:nth-child(2) > section:nth-child(3) > div:nth-of-type(4),
body > section > section:nth-child(3) > section:nth-child(3) > div:nth-of-type(4) {
    clip-path: path('m85.45,41.42H0L6.25,10.72C11.67,7.42,19.92,0,42.72,0c26.87,0,35.15,9.97,35.15,9.97,2.53,10.48,5.05,20.97,7.58,31.45Z');
    width: 5.5em;
    height: 3em;
    background-color: var(--color-ps-frame);
    position: absolute;
    top: 0px;
}

body > section > section:nth-child(2) > section:nth-child(3) > p,
body > section > section:nth-child(3) > section:nth-child(3) > p {
    position: absolute;
    top: 5px;
    left: 38px;
    color: var(--color-ps-frame);
    text-shadow: var(--color-ps-shadow) 0px 0 0.75px;
}

/* grip */

body > section > section:nth-child(2) > section:nth-child(4) > div, 
body > section > section:nth-child(3) > section:nth-child(4) > div {
    clip-path: path('m128.87,174.69l-31.04,58.97s-23.63,40.26-69.53,21.11C-13.7,237.24,3.48,174.69,3.48,174.69L20.24,53.02s31.66-108.63,90.01-14.9,18.62,136.57,18.62,136.57Z');
    width: 12em;
    height: 18em;
    background-color: var(--color-ps-frame);
    /* background-image: linear-gradient(110deg, var(--color-ps-frame) 20%, rgba(255, 255, 255, 0.3), var(--color-ps-frame) 68%); */
    background-image: linear-gradient(110deg, var(--color-ps-frame-shadow) 20%, var(--color-ps-frame), var(--color-ps-frame-shadow) 68%);
    scale: 1;
}

/* right */

body > section > section:nth-child(3) > section:nth-child(4) > div {
    transform: scaleX(-1);
    left: 30px;
}

body > section > section:nth-child(3) > section:nth-child(4) {
    left: -83px;
}

body > section > section:nth-child(3) > section:nth-child(1) {
    transform: scaleX(-1);
    left: -103px;
}

/* video */

video {
    border: 1em solid black;
}